* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #4B4E6D;
    color: #95A3B3;
    height: 100vh;
}
h1, h2 {
    margin-top: 5px;
    text-align: center;
    color: #95A3B3;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px auto;
}
.skill {
    width: 160px;
    height: 160px;
    position: relative;
}
/*Outer circle*/
.outer {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                6px 6px 10px -1px rgba(255, 255, 255, 0.7)
}
/*Inner circle*/
.inner {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2)
                inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
                -0.5px -0.5px 0px rgba(255, 255, 255, 1),
                0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
                0px 12px 10px -10px rgba(0, 0, 0, 0.05)
}
/*Text/number at the center of the cirle*/
#number {
    font-weight: 600;
    color: #95A3B3;
}
/*SVG circle*/
circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 2s linear forwards;
}
svg {
    position: absolute;
    top: 0;
    left: 0;
}
@keyframes anim {
    100% {
        stroke-dashoffset: 0;
    }
}